@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&family=Spline+Sans&display=swap');

/* font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .logo img{
    height: 50px;
    width: 50px;
    border-radius: 15%;
  }
  .logo a {
    color: rgb(0, 2, 0)!important;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Spline Sans', sans-serif!important;
  }

  header,
  .header-nav {
    background-color: #5d855d!important;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: #a4c639;
  }

  span.count{
    margin-left: 3px;
    padding: 10px;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #ebebeb;
    color: green;
    border: 1px solid #5d855d;
  }

  /* .form {
    width: 80%;
  } */
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  form select,
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #444;
  }

  .table-body td a{
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  footer {
    /* position: fixed; */
    /* bottom: 0; */
    left: 0;
    width: 100%;
  }

  .page-header-home {
    background-color: #d0f8a193;
  }

  .page-header-home p {
    font-weight: 900;
  }
  .sub-header {
    height: 40px;
    background-color: #444;
    padding: 10px 0 0 30px;
  }
  .sub-header p {
    color: white;
    font-weight: 600;
    font-weight: 15px;
  }
  .navbar-nav li a {
    color: #fff!important;
  }
  .message-body {
    border: 1px solid black;
    padding: 15px;
    background-color: #3333333a;
  }

  .footer {
    margin-top: 1.3rem;
  }

  
/* Footer Style */

footer {
  background-color: #232323;
  padding: 80px 0px;
  color: #fff;
}

footer h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}

footer p {
  color: #fff;
}

footer ul.social-icons {
  margin-top: 25px;
}

footer ul.social-icons li {
  display: inline-block;
  margin-right: 5px;
}

footer ul.social-icons li:last-child {
  margin-right: 0px;
}

footer ul.social-icons li a {
  width: 34px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  background-color: #fff;
  color: #232323;
  border-radius: 50%;
  transition: all 0.3s;
}

footer ul.social-icons li a:hover {
  background-color: #a4c639;
}

footer ul.menu-list li {
  margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
  margin-bottom: 0px;
}

footer ul.menu-list li a {
  font-size: 14px;
  color: #fff;
  transition: all 0.3s;
}

footer ul.menu-list li a:hover {
  color: #a4c639;
}

footer .contact-form input {
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0px 15px;
  color: #aaa !important;
  background-color: #343434;
  font-size: 13px;
  text-transform: none;
  box-shadow: none;
  border: none;
  margin-bottom: 15px;
}

footer .contact-form input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #343434;
}

footer .contact-form textarea {
  border-radius: 20px;
  height: 120px;
  max-height: 200px;
  min-height: 120px;
  display: inline-block;
  padding: 15px;
  color: #aaa !important;
  background-color: #343434;
  font-size: 13px;
  text-transform: none;
  box-shadow: none;
  border: none;
  margin-bottom: 15px;
}

footer .contact-form textarea:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder {
  /* Edge */
  color: #aaa;
}

footer .contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
footer li {
  list-style: none;
}

footer .contact-form ::placeholder {
  color: #aaa;
}

footer .contact-form button.filled-button {
  background-color: transparent;
  color: #fff;
  background-color: #a4c639;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

footer .contact-form button.filled-button:hover {
  background-color: #fff;
  color: #a4c639;
}

/* Sub-footer Style */

.sub-footer {
  background-color: #343434;
  text-align: center;
  padding: 25px 0px;
}

.sub-footer p {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.sub-footer a {
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px!important;
}